[submodule "Emacs/.emacs.d/lisp/awesome-tab"]
	path = emacs/.emacs.d/lisp/awesome-tab
    url = https://github.com/manateelazycat/awesome-tab.git

[submodule "Emacs/.emacs.d/lisp/page-break-lines"]
	path = emacs/.emacs.d/lisp/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "fonts/source-code-pro"]
	path = config/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "system/urxvt-resize-font"]
	path = config/urxvt/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font
[submodule "emacs/.emacs.d/lisp/origami.el"]
	path = emacs/.emacs.d/lisp/origami.el
	url = https://github.com/gregsexton/origami.el.git
[submodule "themes/icons/papirus-icon-theme"]
	path = themes/icons/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
