[submodule "fonts/source-code-pro"]
	path = config/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "system/urxvt-resize-font"]
	path = config/urxvt/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font
[submodule "themes/icons/papirus-icon-theme"]
	path = themes/icons/papirus-icon-theme
    url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
##
##[submodule "emacs/old-emacs.d/lisp/awesome-tab"]
##	path = emacs/old-emacs.d/lisp/awesome-tab
##    url = https://github.com/luiznux/awesome-tab.git
##
##[submodule "emacs/old-emacs.d/lisp/parrot"]
##	path = emacs/old-emacs.d/lisp/parrot
##    url = https://github.com/luiznux/parrot.git
##
##[submodule "emacs/.emacs.d/lisp/local-packages/awesome-tab"]
##    path = emacs/.emacs.d/lisp/local-packages/awesome-tab
##    url = https://github.com/luiznux/awesome-tab.git
##
##[submodule "emacs/.emacs.d/lisp/local-packages/parrot"]
##    path = emacs/.emacs.d/lisp/local-packages/parrot
##	url = https://github.com/luiznux/parrot.git

